@import 'variables.css';


body{
  background-color: var(--main-colour);
  color: var(--text1);
  font-family: var(--font-main);
}

#title{
  font-family: var(--font-title);
  font-size: 500%;
}
.projectCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  background-color: var(--secondary-colour);
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem .25rem;
}


@media screen and (min-width: 40em) { 
  .card{
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card{
    flex: 0 1 calc(33% - 1em);
  }
}

/* The design of the cards */

.title{
  font-size: 2em;
  margin: 1em;
}

.description{
  margin: 1em;
}

.info{
  display: flex;
}

.button{
  background-color: var(--highlight-colour);
  color: var(--text2);
  float: left;
  margin: 1em;
}

.year{
  float: right;
}