@media screen and (max-width: 800px){
    #skills{
        width: 90%;
        margin: 5%;
        padding-top: 15%;
    }
}


.underline{
    display: flex;
    justify-content: center;
    background-color: #f6ae2d;
    width: 100%;
    height: 5px;
    padding-top: 0;
}