@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@100&display=swap');

body {
    background-color: #020122;
    color: #ffffff;
}

.nav_bar {
    width: 100%;
    justify-content: space-between;
    box-align: right;
    padding-top: 5%;
    float: right;
}

.nav_bar nav ul {
    position: relative;
    display: inline-block;
}

.nav_links {
    list-style: none;
    text-align: right; 
}

.nav_links li {
    display: inline-block;
    font-family: 'Black Ops One', cursive;
    font-size: 150%;
    padding: 1%;
    padding-top: 0;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #ffffff;
    text-decoration: none;
}


.nav_links li a:hover {
    background-color: #B80C09;
}

/* ----------- Text at top of page --------------*/
.main_text {
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
}


/* ---------- Css specific for Projects page -------------*/

.project_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

