@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Black+Ops+One&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Black+Ops+One&family=Kanit:wght@500&family=Poppins:wght@100&display=swap');

body {
    background-color: #020122;
    color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Kanit', sans-serif;
}

.nav_bar {
    width: 100%;
    justify-content: space-between;
    box-align: right;
    padding-top: 5%;
    float: right;
}

.nav_bar nav ul {
    position: relative;
    display: inline-block;
}

.nav_links {
    list-style: none;
    text-align: right; 
}

.nav_links li {
    display: inline-block;
    font-family: 'Black Ops One', cursive;
    font-size: 150%;
    padding: 1%;
    padding-top: 0;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #ffffff;
    text-decoration: none;
}


.nav_links li a:hover {
    background-color: #B80C09;
}

.page-title{
    text-align: center;
    font-family: 'Black Ops One', cursive;
    font-size: 80px;
}

.subtitle{

  font-family: 'Black Ops One', cursive;
  font-size: 30px;
  
}

/* ----------- Css for the about page --------------*/
#about_text {

    font-family: 'Kanit', sans-serif;
    text-align: justify;
    font-size: 20px;
}

#personal-photo{
    float: right;
    margin-right: 0px;
    margin-left: 20px;
    margin-top: 0px;
}

#about-content{
  margin-left: 50px;
  margin-right: 20px;
}


/* ---------- Css specific for Projects page -------------*/
#project_text{
    text-align:center;
    font-size: 20px;
}

#container-left{
    position: relative;
    left: 20%;
  }
  
  #container-right{
    position: relative;
    left: 40%;
  }
  
  .outer{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .inner{
    position: absolute;
    top: 15px;
    left: 8px;
  }
  
  .out-hex{
    font-size: 350px;
    color: #ffffff;
  }
  
  .in-hex{
    font-size: 330px;
    color: #020122;
  }

  .in-hex:hover{
    color: #E0B0D5;
  }
/* ---------- Css specific for Contact page -------------*/

#contact-container ul{
  list-style: none;
  position: relative;
}

.icons{
  display: inline-block;
  
}

#contact_text{
  text-align: center;
}

#email_icon{
  height: 50px;
}

/* ---------- Css specific for Credit page -------------*/

#thanks{
    text-align: center;
    /*font-family: 'Alumni Sans Pinstripe', sans-serif;*/
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
