@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Black+Ops+One&family=Kanit:wght@500&family=Oswald:wght@500&family=Poppins');


html, body{
    height: 100%;
    margin: 0;
    padding-top: 0;
}

#titlePage{
    height: 100%;
    text-align: center;
    background-color: #758e4f;
    color: #ffff;
}

#titleText{
    padding-top: 10%;
    font-family: Poppins;
    font-size: 500%;
    font-weight: 300%;
    background-color: #758e4f;
}

.button{
    background-color: #f6ae2d;
}

.subtitleText{
    font-family: Poppins;
}