
@import 'variables.css';

html, body{
    height: 100%;
    margin: 0;
    padding-top: 0;
    font-family: var(--font-main);
}

#titlePage{
    height: 100%;
    text-align: center;
    background-color: var(--main-colour);
    color: #ffff;
    margin-top: 0;
}

#titleText{
    padding-top: 10%;
    font-family: var(--font-title);
    font-size: 500%;
    font-weight: 300%;
    background-color: var(--main-colour);
    margin: 0;
}

.subtitleText{
    font-family: var(--font-main);
}

.titleButton{
    border: none;
    background-color: var(--highlight-colour);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Poppins;
    margin: 3%;
    font-size: 100%;
}

